<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Assign4_SpaceBlasters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Assign4_SpaceBlasters.Properties.Settings>
            <setting name="HighScore" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="HighScoreInitials" serializeAs="String">
                <value>RJS</value>
            </setting>
            <setting name="HighScore2" serializeAs="String">
                <value>325</value>
            </setting>
            <setting name="HighScoreInitials2" serializeAs="String">
                <value>PAC</value>
            </setting>
            <setting name="HighScore3" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="HighScoreInitials3" serializeAs="String">
                <value>SJW</value>
            </setting>
        </Assign4_SpaceBlasters.Properties.Settings>
    </userSettings>
</configuration>